In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import tensorflow as tf

In [2]:
print(tf.__version__)

2.10.0

In [3]:
from sklearn import datasets

In [4]:
raw_cali = datasets.fetch_california_housing()
X_cali = pd.DataFrame(raw_cali.data)
y_cali = pd.DataFrame(raw_cali.target)
df_cali = pd.concat([X_cali, y_cali], axis=1)

In [5]:
len(df_cali)

20640

In [6]:
df_cali.head()

        0     1         2         3       4         5      6       7      0
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23  4.526
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22  3.585
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24  3.521
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25  3.413
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25  3.422

In [7]:
feature_cali = raw_cali.feature_names
print(feature_cali)

['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']

In [8]:
print(df_cali.columns)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 0], dtype='int64')

In [9]:
col_cali = np.append(feature_cali, ['target'])
df_cali.columns = col_cali
df_cali.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422